[build]
  command = "pnpm build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  external_node_modules = ["express", "mongoose", "cors", "dotenv"]
  node_bundler = "esbuild"
  included_files = ["server/**"]

[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
